* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 48px;
}

.app-container {
  display: flex;
  height: 100vh;
}

.list-container, .note-container {
  flex: 50%;
}

.list-container {
  background-color: gray;
  padding: 15px;
  flex-direction: column;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 10px;
}

.add-btn {
  font-size: 36px;
  border: none;
  background-color: gray;
}
